<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="csvgen.ZPM">
    <Module>
      <Name>csvgen</Name>
      <Version>1.1.9</Version>
      <Description>Module to generate and import csv data using InterSystems ObjectScript</Description>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>sslclient</Name>
          <Version>1.0.1</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="community.PKG"/>
      <UnitTest Name="/Tests" Package="UnitTests" Phase="test"/>
    </Module>
    
  </Document>
</Export>
