<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="csvgen.ZPM">
    <Module>
      <Name>csvgen</Name>
      <Version>1.5.1</Version>
      <Description>Module to generate import and export csv data using InterSystems ObjectScript</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="community.PKG"/>
      <UnitTest Name="/tests" Package="community.csvgen.UnitTests" Phase="test"/>
    </Module>

  </Document>
</Export>
